<footer class="footer py-3 mt-auto" style="text-align: center;">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp <%= new Date().getFullYear() %></span>
    </div>
    <div class="container">
        <span class="text-muted">Created by: <a href="https://veekay.ca">VeeKay</a></span>
    </div>
</footer>