body{
    /* background-color: olive; */
    background-color: #a6b397;
    background-image: url('/images/forest-silhouette.png');
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: repeat-x;
}

/* unvisited link */
a:link {
    color: #c6cfd6;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #c6cfd6;
  }
  
  /* mouse over link */
  a:hover {
    color: #a1c0d9;
  }
  
  /* selected link */
  a:active {
    color: #e9f3fa;
  }

  /* for light backgrounds */
  a:link.darker-link{
    color: #61696e;
    text-decoration: none;
  }
  a:visited.darker-link{
    color: #61696e;
    text-decoration: none;
  }
  a:hover.darker-link{
    color: #a1c0d9;
  }

.bg-translucent{
    background-color: rgba(255, 255, 255, 0.8);
    border-color: saddlebrown;
    border-width: 9px;
    border-style: solid;
    border-radius: 20px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.7);
    /* z-index: 2; */
}

.container{
    z-index: 2;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.btn{
    background-color: green;
    border-color: forestgreen;
    color:#c6cfd6;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    box-shadow: none;
    outline:none;
    background-color: olive;
    border-color: olivedrab;
  }

.btn-curved{
    border-radius: 20px 5px;
}

.btn:hover{
    background-color: olive;
    border-color: olivedrab;
}

nav.navbar{
    background-color: #013804;
}

.nav-logo{
    width: 80px;
    height: auto;
}

footer.footer{
    background-color: #013804;
    z-index: 2;
}
